{% extends 'jobs/_base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-md mx-auto mt-10 p-6 bg-white shadow-md rounded-lg">
    <h1 class="text-3xl font-bold text-gray-800 mb-6">Login</h1>
    <form method="POST" class="space-y-4">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="w-full px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 transition duration-300 ease-in-out">Login</button>
    </form>
    <p class="mt-4 text-gray-600">Don't have an account? <a class="text-blue-500 underline" href="{% url 'account_signup' %}">Signup here.</a></p>
</div>
{% endblock content %}

